.contact {
    background-color: var(--light-one);
    width: 100%;
    padding: 5.5rem 0 8.5rem;
}

.contact-box {
    width: 100%;

    background-image: url(../../img/hero/cover.jpg);
    border-radius: 45px;
    padding: 5.5rem 4.5rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

/* get in touch */
.contact-info {
    padding-right: 2rem;
}

.contact-form {
    padding-left: 2rem;
}

.contact-info > .title {
    color: var(--dark-one);
}

.contact-info > .title:after {
    left: 0;
    transform: initial;
}

.information-wrap {
    margin-top: 2rem;
}

.information {
    display: flex;
    align-items: center;
}

.information:not(:last-child) {
    margin-bottom: 1.3rem;
}

.contact-icon {
    min-width: 67px;
    height: 67px;
    border-radius: 50%;
    background-color: var(--hover-color);
    color: var(--dark-one);
    display: inline-block;
    text-align: center;
    font-size: 1.4rem;
    margin-right: 1rem;
}
.contact-icon > i {
    line-height: 67px;
}

.info-text {
    font-size: 1.3rem;
    display: inline-block;
}

/* contact me */
.contact-form > .title {
    margin: 0;
    color: var(--dark-one);
}

.contact-form > .title:after {
    display: none;
}

.contact-form > .row {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(130px, 1fr));
}
