.contact {
    background-color: var(--light-one);
    padding: 4.2rem 0 6rem 0;
}
.contact .title {
    color: var(--hover-color);
    font-size: 2.8rem;
}
.contact .title:before {
    color: var(--dark-two);
}
.contact-info .title:after {
    left: 0;
    transform: initial;
}
.contact-info:before {
    content: "Get in touch with me";
    position: absolute;
    font-size: 8rem;
    font-weight: 800;
    color: var(--main-color);
    opacity: 0.05;
    top: 0;
    left: 3rem;
    line-height: 2;

}
.contact-info {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.information {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.contact-icon {
    min-width: 67px;
    height: 67px;
    display: inline-block;
    border-radius: 50%;
    background-color: var(--hover-color);
    color: var(--light-one);
    text-align: center;
    font-size: 1.4rem;
    margin-right: 1rem;
    transition: 0.3s;
}
.contact-icon i {
    line-height: 67px;
}
