.contact {
    background-color: var(--light-one);
    width: 100%;
    padding: 5.5rem 0 8.5rem;
}

.contact-box {
    width: 100%;

    background-image: url(../../img/hero/cover.jpg);
    border-radius: 45px;
    padding: 5.5rem 4.5rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.contact-info {
    padding-right: 2rem;
}

.contact-form {
    padding-left: 2rem;
}
