.hireme {
    padding: 12rem 0;
  }
  
  .hireme .container {
    text-align: center;
  }
  
  .hireme .title {
    margin-bottom: 1.3rem;
  }
  
  .hireme .text {
    max-width: 1000px;
    margin: 0 auto 1.6rem auto;
  }
  