.portfolio {
  position: relative;
  width: 100%;
  background-image: url(../../img/hero/cover.jpg);
  background-size: cover;
}

.portfolio .section-header{
  margin-top: -2rem;
}
.background-bg {
  position: absolute;
  width: 100%;
  height: 500px;
  top: 0;
  left: 0;
  background-color: var(--main-color);
}
.filter {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.filter-btn {
  border: none;
  outline: none;
  background-color: transparent;
  margin: 0.45rem 0.4rem;
  padding: 0.85rem 1.8rem;
  color: var(--light-one);
  text-transform: uppercase;
  font-weight: 500;
  font-size: 1.1rem;
  line-height: 1;
  cursor: pointer;
  border-radius: 2rem;
  transition: 0.3s;
}
.filter-btn.active {
  background-color: var(--hover-color);
}
/* isotope */
.grid {
  width: 100%;
  margin: 1.5rem 0;
}
.grid-item {
  width: 33.33%;
  padding: 1rem 1.2rem;
  display: flex;
  justify-content: center;
}
.gallery-image {
  position: relative;
  overflow: hidden;
  border-radius: 16px;
  height: 330px;
  width: 100%;
  cursor: pointer;
}
.gallery-image img {
  position: absolute;
  height: 115%;
  width: initial;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transform-origin: center;
  transition: 0.5s;
}
.gallery-image .img-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 2;
  background-image: url(../../img/hero/cover.jpg);
  background-size: cover;
  border: 4px solid var(--hover-color);
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  padding: 2rem 3.2rem;
  opacity: 0;
  transition: 0.5s;
}
.img-overlay .zoom {
  font-size: 3rem;
  margin: auto 0;
  color: var(--hover-color);
}
.img-description {
  width: 100%;
}
.img-overlay h3 {
  font-weight: 600;
  text-transform: uppercase;
  font-size: 1.5rem;
  color: var(--hover-color);
}
.img-overlay h5 {
  font-size: 1.15rem;
  font-weight: 300;
  color: var(--hover-color);
}
.gallery-image:hover .img-overlay {
  opacity: 1;
}
.gallery-image:hover img {
  transform: translate(-50%, -50%) scale(1.1);
}
